<html>
	<head>
		<title>Categories</title>
	</head>
	
	<body>
		<form method='GET' action='/search/'>
			<div>
				<input type="search" id="mySearch" name="q">
				<button>Search</button>
			</div>
		</form>
		<a href="/index/">Home</a>   <a href="/categories/">Categories</a>    <a href="">Good Food Guide</a>
	<hr></br>
	
	<form action="" method="GET">
	
    <select name="Shop" id="shop" onchange="form.submit()">
		<option value="" 
		{% if '' == current_x %} selected="selected" {% endif %}>
		---เลือกประเภทร้าน---
		</option>
		
		<option value="ร้านอาหาร" 
		{% if 'ร้านอาหาร' == current_x %} selected="selected" {% endif %}>
		ร้านอาหาร
		</option>
		
		<option value="เครื่องดื่ม" 
		{% if 'เครื่องดื่ม' == current_x %} selected="selected" {% endif %}>
		เครื่องดื่ม
		</option>
		
		<option value="ขนมหวาน" 
		{% if 'ขนมหวาน' == current_y %} selected="selected" {% endif %}>
		ขนมหวาน</option>
		
    </select>
	
    <select name="Food" id="food" onchange="form.submit()">
		<option value=""
		{% if '' == current_y %} selected="selected" {% endif %}>
		---เลือกประเภทอาหาร---
		</option>
		
		<option value="อาหารตามสั่ง"
		{% if 'อาหารตามสั่ง' == current_y %} selected="selected" {% endif %}>
		อาหารตามสั่ง</option>
		
		<option value="ก๋วยเตี๋ยว"
		{% if 'ก๋วยเตี๋ยว' == current_y %} selected="selected" {% endif %}>
		ก๋วยเตี๋ยว</option>
		
		<option value="ยำ และอาหารอีสาน"
		{% if 'ยำ และอาหารอีสาน' == current_y %} selected="selected" {% endif %}>
		ยำ และอาหารอีสาน</option>
		
		<option value="อาหารจานเดียว" 
		{% if 'อาหารจานเดียว' == current_y %} selected="selected" {% endif %}>
		อาหารจานเดียว</option>
		
		<option value="ข้าวราดแกง"
		{% if 'ข้าวราดแกง' == current_y %} selected="selected" {% endif %}>
		ข้าวราดแกง</option>
		
    </select>
	
	</br></br>
	{{current_x}} {{current_y}}
	{% for element in shops_list %}
	
		{{element.name}}
		{{element.rating}}
		<hr></br>
	
	{% endfor %}
	</form>
		
	</body>

</html>
