<form method='GET' action='/search/'>
	<div>
		<input type="search" id="mySearch" name="q">
		<button>Search</button>
	</div>
</form>

<a href="/index/">Home</a>   <a href="/categories/">Categories</a>    <a href="">Add new shop</a>

<hr></br>

<h2>Recent reviews</h2></br>
	{% for element in last_review %}
	
	{{element.body}}
	</br>
	name: {{element.writer_name}}
	</br>
	rating: {{element.rating_avg}} date: {{element.review_date}}
	</br><hr>
	{% endfor %}

</br><hr>
<a href="">About me</a>   <a href="">Contact me</a>